
    <div class="tab-pane fade show active" id="show-job" role="tabpanel" aria-labelledby="home-tab">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th>No</th>
                              <th>Title</th>
                              <th>Gambar</th>
                              <th>Tempat</th>
                              <th>Detail</th>
                              <th>Kualifikasi</th>
                              <th>Tanggung Jawab</th>
                              <th>Action</th>
                              
                          </tr>
                      </thead>
                      <tbody>
                        <% for(let i = 0; i < job.length; i++){ %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= job[i].title %></td>
                                <td>
                                    <img src="http://localhost:3000/<%= job[i].imageId %>" alt="imageId" height="70px" width="70px">
                                </td>
                                <td><%= job[i].place %></td>
                                <td><%= job[i].detail %></td>
                                <td><%= job[i].kualifikasi %></td>
                                <td><%= job[i].tanggungJawab %></td>
                                <td>
                                    <form action="/admin/job/<%= job[i].id %>?_method=DELETE" method="POST">
                                    <a href="javascript:void()" type="button" class="btn btn-warning btn-circle btn-sm button-update" data-id="<%= job[i].id %>" data-name="<%= job[i].name %>" >
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button type="submit" class="btn btn-danger btn-circle btn-sm" >
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>

                  </table>
              </div>
          </div>
      </div>
    </div>